# Dependencies
node_modules/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary & Environment files
.env
.env.local
.env.production
.gemini/
